In [1]:
import numpy as np

# Basic Data Types

In [4]:
# data Types

# ints vs. floats

c = 7 
d = 7.0 

print(c, d)

7 7.0

In [5]:
print(type(c))

<class 'int'>

In [6]:
print(type(d))

<class 'float'>

In [7]:
for i in range(0, c):
    print(i)

0
1
2
3
4
5
6

In [8]:
c + d

14.0

In [10]:
firstName = 'Mike'
lastName = 'Cohen'

firstName + lastName # overloading

'MikeCohen'

In [11]:
c*d

49.0

In [12]:
print(type(c*d))

<class 'float'>

In [13]:
firstName * 3

'MikeMikeMike'

In [14]:
%whos

Variable    Type      Data/Info
-------------------------------
c           int       7
d           float     7.0
firstName   str       Mike
i           int       6
lastName    str       Cohen
np          module    <module 'numpy' from '/Us<...>kages/numpy/__init__.py'>

In [28]:
# Excercises!

# Convert across datatypes
s1 = '4'
s2 = '4.7'
n1 = 5 
n2 = 5.8

# Convert the strings to integers
print(int(s1))
print(int(float(s2)))

# Convert the strings to floats
print(float(s1))
print(float(s2))

# Convert the numbers into strings
print(str(n1))
print(str(n2))

4
4
4.0
4.7
5
5.8

# List & Numpy Arrays

It might seem alike between List and Numpy Arrays but it behaves differently.

In [40]:
import numpy 

# lists
# numpy arrays

# Simple List

In [32]:
# lists
aList = [0, 1, 2, 3, 4, 5]
type(aList)

listList = [3, ['3', '4', '5'], 5.5, [4, 5, 6]]
listList

[3, ['3', '4', '5'], 5.5, [4, 5, 6]]

In [33]:
listList = [
    3, 
    ['3', '4', '5'], 
    5.5, 
    [4, 5, 6]
]

listList

[3, ['3', '4', '5'], 5.5, [4, 5, 6]]

In [35]:
aList = [0, 1, 2, 3, 4, 5]
sList = ['0', '1', '2', '3', '4', '5']

[0, 1, 2, 3, 4, 5, '0', '1', '2', '3', '4', '5']

In [36]:
aList + sList

[0, 1, 2, 3, 4, 5, '0', '1', '2', '3', '4', '5']

In [37]:
sList * 3

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5']

In [38]:
aList * 3

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

# Numpy Array

In [45]:
aList_np = numpy.array(aList)

print(type(aList_np))

<class 'numpy.ndarray'>

In [42]:
print(aList)
print(aList_np)

[0, 1, 2, 3, 4, 5]
[0 1 2 3 4 5]

In [44]:
aList_np * 3 #It doesn't duplicate elements, but it calculates individual elements

array([ 0,  3,  6,  9, 12, 15])

# Exercise

In [46]:
myList = [
    3, 
    ['3', '4', '5'],
    5.5,
    [4, 5, 6]
]

In [53]:
for i in range(0, 4):
    print('List element %g is %s and is of type %s' %(i, myList[i], type(myList[i])))

List element 0 is 3 and is of type <class 'int'>
List element 1 is ['3', '4', '5'] and is of type <class 'list'>
List element 2 is 5.5 and is of type <class 'float'>
List element 3 is [4, 5, 6] and is of type <class 'list'>

In [56]:
for index, item in enumerate(myList):
    print(f'List element {index} is {item} and is of type {type(item)}')

List element 0 is 3 and is of type <class 'int'>
List element 1 is ['3', '4', '5'] and is of type <class 'list'>
List element 2 is 5.5 and is of type <class 'float'>
List element 3 is [4, 5, 6] and is of type <class 'list'>

In [65]:
for index, item in enumerate(myList):
    print(str(type(item)))
    #Slice
    #[8:] => 8 뒤로 값을 가져와라
    #[:8] => 8 앞의 값을 가져와라 
    #즉, <class 'int'>에서 `int`만 가져오기 위해서 하는 작업.
    t = str(type(item))[8:] #Slice, string index 8이상부터 값을 가져와라.
    apost = t.find("'")
    print(f'List element {index} is {item} and is of type {t[:apost]}')

<class 'int'>
List element 0 is 3 and is of type int
<class 'list'>
List element 1 is ['3', '4', '5'] and is of type list
<class 'float'>
List element 2 is 5.5 and is of type float
<class 'list'>
List element 3 is [4, 5, 6] and is of type list

In [62]:
# Slice
t[8:]
apost = t.find("'")
apost

7